@charset "UTF-8";
body {
  width: 100%;
  margin: 0;
}

main {
  margin: 0;
  width: 100%;
}

.footer {
  padding: 4rem 3rem;
  display: flex;
  flex-direction: column;
}

figure img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  border-radius: 3rem 3rem 0 0;
}

figure {
  margin: 0;
}

.header__logo {
  text-align: center;
  padding-top: 2rem;
}

.sectionexplore {
  padding: 4rem 0;
  text-align: center;
}
.sectionexplore p {
  padding-bottom: 2rem;
  font-size: 2.5rem;
}

.menu__main {
  position: relative;
  margin: auto;
  background-color: #f6f6f6;
  border-radius: 4rem 4rem 0 0;
  margin-top: -4rem;
  padding-bottom: 5rem;
}
.menu__image {
  width: 100%;
  object-fit: cover;
}
.menu__title {
  font-family: Shrikhand, "cursive";
  display: flex;
  padding: 3rem;
  padding-bottom: 0;
  margin: 0;
  justify-content: space-between;
  font-size: 2.25rem;
  align-items: center;
}
.menu__heart {
  font-size: 4rem;
  padding-right: 3rem;
}

.submenu {
  padding: 0 3rem;
}
.submenu__title {
  border-bottom: 0.5rem solid #99e2d0;
  width: 15%;
  margin-top: 4rem;
  margin-bottom: 3rem;
  font-size: 2.75rem;
  font-weight: bolder;
  padding: 1rem 0;
  font-weight: lighter;
}
.submenu__item {
  display: flex;
  font-size: 2.5rem;
  background-color: #fff;
  padding: 1.75rem 2rem;
  border-radius: 2.5rem;
  margin: 2rem 0;
  cursor: pointer;
  justify-content: space-between;
}
.submenu__item__title {
  margin: 0;
  padding-bottom: 0.5rem;
}
.submenu__item__what {
  margin: 0;
  font-weight: 300;
}
.submenu__item__price {
  display: flex;
  justify-content: flex-end;
  font-weight: 600;
  align-items: flex-end;
  padding-right: 1.5rem;
}

body {
  font-family: "Roboto", sans-serif;
}

h1 {
  text-align: center;
  font-weight: bolder;
}

.tuto h2 {
  padding: 2rem;
  margin-bottom: 2rem;
  font-size: 3rem;
}

.choosemenu h2 {
  padding: 2rem;
  margin-bottom: 2rem;
  font-size: 3rem;
}

h4 {
  font-family: "Shrikhand", cursive;
  font-weight: lighter;
  margin: 0;
  font-size: 3rem;
  padding: 1rem 0;
}

body a {
  text-decoration: none;
}

.choosemenu a {
  color: black;
}

.footer {
  color: #fff;
}
.footer a {
  color: #fff;
  font-size: 2.3rem;
}
.footer i {
  padding-right: 1.5rem;
  font-size: 2.5rem;
}
.footer__contain {
  padding: 0.75rem 0;
}

figcaption {
  margin: 0;
  font-size: 2.5rem;
  padding-left: 2rem;
  line-height: 0.5;
}

.btn__explore {
  border: none;
  padding: 2rem;
  width: 55%;
  background-image: linear-gradient(0deg, rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9));
  color: #fff;
  border-radius: 3.5rem;
  font-size: 2.5rem;
}

.submenu__button {
  border: none;
  border-radius: 5rem;
  padding: 2.5rem 5.5rem;
  font-size: 2.75rem;
  color: #fff;
  background-image: linear-gradient(0deg, rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9));
}
.submenu__button__conteneur {
  display: flex;
  justify-content: center;
  padding-top: 3rem;
  padding-bottom: 5rem;
}

/**pages-menus**/
.header__logo__menu {
  text-align: center;
  align-items: center;
  justify-content: center;
}
.header__menu {
  display: flex;
  padding: 3rem;
}
.header__arrow {
  font-size: 3.5rem;
  color: black;
  padding-left: 2rem;
  padding-right: 10rem;
  align-items: center;
}

/* définition des différents conteneur de la page*/
.searchcity__form {
  background-color: #eaeaea;
}

.sectionexplore {
  background-color: #f6f6f6;
}

.howto {
  background-color: #f6f6f6;
}

.choosemenu {
  background-color: #f6f6f6;
}

footer {
  background-color: #353535;
}

ol {
  list-style: none;
  counter-reset: li;
  padding: 0;
}

.tuto {
  padding: 1rem 2rem;
}
.tuto__list {
  background-color: #f6f6f6;
  display: flex;
  box-shadow: 0.25rem 0.25rem 0.5rem #9c9a9a;
  border-radius: 3rem;
  align-items: center;
  font-size: 3rem;
  margin-bottom: 3rem;
  padding: 2rem;
  font-weight: 500;
}
.tuto__list--purple {
  background-color: rgba(147, 86, 220, 0.1);
  display: flex;
  box-shadow: 0.25rem 0.25rem 0.5rem #9c9a9a;
  border-radius: 3rem;
  align-items: center;
  font-size: 3rem;
  margin-bottom: 3rem;
  padding: 2rem;
  font-weight: 500;
}
.tuto__list__icon {
  padding: 2rem;
  color: grey;
}
.tuto__list__icon--purple {
  color: #9356DC;
  padding: 2rem;
}

li::before {
  content: counter(li);
  color: #fff;
  background-color: #9356DC;
  justify-content: center;
  align-items: center;
  border-radius: 4rem;
  padding: 0.5rem 1.5rem;
}

li {
  counter-increment: li;
}

.choosemenu {
  padding: 1rem 2rem;
}

.foodmenu {
  background-color: #fff;
  box-shadow: 0.25rem 0.25rem 0.5rem #bdbaba;
  border-radius: 3rem;
  margin-bottom: 3rem;
  position: relative;
}
.foodmenu__caption {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.foodmenu__caption i {
  padding-right: 2rem;
  font-size: 4rem;
}
.foodmenu__new {
  background-color: #99E2D0;
  color: #0a8d6d;
  font-weight: bold;
  font-size: 3rem;
  padding: 1.5rem;
  border-radius: 0.1rem;
  position: absolute;
  right: 1.5rem;
  top: 1rem;
}

.searchcity__form {
  width: 100%;
  text-align: center;
  padding: 2rem 0;
  font-size: 2rem;
}
.searchcity__city {
  border: none;
  background-color: #eaeaea;
  font-weight: bold;
  color: black;
  width: 30%;
}
.searchcity__icon {
  font-size: 2rem;
  padding-right: 1rem;
}

/*# sourceMappingURL=style.css.map */
